*{
    background: #E7DFD6;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
}

.logoLupa {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #A2845E;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {color: #A2845E;}
    .text-area:focus {
        outline: none;
    }

.mensagem {
    background: white;
    background-image: url(imagens/boneca.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    border-radius: 24px;
    color: #A2845E;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 5px;
    position: fixed;
}
.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-Descriptar {
    background-color: white;
    border: 1px solid #705b3e;
    border-radius: 24px;
    color: #A2845E;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-Encriptar {
    background-color: #A2845E;
    border: 1px solid #705b3e;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-Copiar {
    border: 1px solid #A2845E;
    border-radius: 24px;
    color: #705b3e;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
}

.informacao {
    color: black;
}